nav.article-menu
  a(href="/") Home
  = " • "
  a(href="/talks/") Talks
  = " • "
  a(href="/about/") About
  = " • "
  a(href="https://twitter.com/iamstarkov" target="_blank" rel="noopener") Follow me on Twitter
