extend page

block title
  title Vladimir Starkov

block content
  h1 Vladimir Starkov
  
  ul
    each article in list
      li
        time= article.humanDate + " " 
        a(href=article.url)= article.title
        
